@model RenderingModel

<div class="container">
    <div id="navBar" class="navbar navbar-default navbar-fixed-bottom">
        <a class="navbar-brand" href="#">@Model.Item["{A61FB8B8-2FF2-4059-AF3E-6743FA4E07FE}"]</a>
    </div>
</div>