@model RenderingModel

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                @Model.Item["{7CB560B9-B8D5-41EF-AAC1-0F3BABA70CE7}"]
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@Model.Item["{4C75099C-D959-4192-87B3-884EF7E410A4}"]</a></li>
                <li><a href="#">@Model.Item["{BB997875-B064-4EC0-A266-05571B30EEDC}"]</a></li>
                <li><a href="#">@Model.Item["{00760A32-9313-4DFE-8B2D-C1BA0933B2C1}"]</a></li>
            </ul>
        </div>
    </div>
</nav>