@model RenderingModel

<style>
    body {
        background: url('/Content/backGroundSemi.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">@Model.Item["{0E4348F3-24F7-480C-A4EE-8671FF603020}"]</h1>
                <p>@Model.Item["{CE97A8D7-671A-4D39-8386-514308906562}"]</p>
            </div>
        </div>
    </div>
</section>
